@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.sections {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.footer-font-bold {
  font-family: 'Girassol', sans-serif;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer-font-normal {
  font-family: 'Girassol', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}

.footer-links {
  text-decoration: none;
}

.separator {
  width: 100%;
  background: #4d6091;
  height: 1px;
  margin: 1rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#wrapper #content #first-section {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: lightcoral;
  text-align: center;
  border: 4px solid black;
}

#wrapper footer {
  margin-top: auto;
  background: #223874;
}

#wrapper footer #footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

#wrapper footer #footer-content #footer1 {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.8fr;
      grid-template-columns: 1fr 0.8fr;
  grid-column-gap: 1rem;
  line-height: 2;
}

#wrapper footer #footer-content #footer1 li {
  list-style: none;
  overflow: hidden;
}

#wrapper footer #footer-content #footer1 a {
  position: relative;
}

#wrapper footer #footer-content #footer1 a::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 1px;
  background: white;
  top: 100%;
  left: 0%;
  translate: -50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

#wrapper footer #footer-content #footer1 a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#wrapper footer #footer-content #country-select {
  width: 100%;
}

#wrapper footer #footer-content #footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#wrapper footer #footer-content #footer2 #newsletter p {
  margin-top: 0.4rem;
  margin-bottom: .6rem;
}

#wrapper footer #footer-content #footer2 #newsletter form {
  margin-bottom: 0.2rem;
}

#wrapper footer #footer-content #footer2 #newsletter form * {
  margin: .2rem 0;
}

#wrapper footer #footer-content #footer2 #newsletter form input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.3rem;
  width: 1.3rem;
  color: #1c2956;
  outline: none;
  border: 1px solid #f7ded8;
  cursor: pointer;
}

#wrapper footer #footer-content #footer2 #newsletter form input[type='checkbox']:hover {
  background: #4d6091;
}

#wrapper footer #footer-content #footer2 #newsletter form input[type='checkbox']::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  height: 1.2rem;
  width: 1.2rem;
  color: black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

#wrapper footer #footer-content #footer2 #newsletter form input[type='checkbox']:checked {
  background: white;
}

#wrapper footer #footer-content #footer2 #newsletter form input[type='checkbox']:checked::after {
  visibility: visible;
}

#wrapper footer #footer-content #footer2 #newsletter form div:nth-child(3) {
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wrapper footer #footer-content #footer2 #newsletter form div:nth-child(3) input {
  border: 0;
  background: #1c2956;
  color: whitesmoke;
  padding: 0.5rem 1rem;
}

#wrapper footer #footer-content #footer2 #newsletter form div:nth-child(3) button {
  border: 0;
  background: #f7ded8;
  color: #223774;
  padding: 0.5rem 0.3rem;
  cursor: pointer;
}

#wrapper footer #footer-content #footer2 #socials p {
  margin-bottom: .5rem;
}

#wrapper footer #footer-content #footer2 #socials #footer-icons {
  font-family: "Font Awesome Free";
  font-weight: 700;
}

#wrapper footer #footer-content #footer2 #socials #footer-icons a i {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#wrapper footer #footer-content #footer2 #socials #footer-icons a i:hover {
  background: white;
  color: black;
}

@media (min-width: 900px) {
  .separator-mobile {
    display: none;
  }
  #wrapper footer #footer-content {
    max-width: 900px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    gap: 0 3rem;
        grid-template-areas: "footer1 country-select" "main-separator main-separator" "footer2 footer2";
  }
  #wrapper footer #footer-content #footer1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: auto;
  }
  #wrapper footer #footer-content #country-select {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: country-select;
    margin-top: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: auto;
  }
  #wrapper footer #footer-content #country-select p {
    margin-bottom: 1rem;
  }
  #wrapper footer #footer-content #main-separator {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main-separator;
  }
  #wrapper footer #footer-content #footer2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
        grid-template-areas: "socials newsletter" "copyright newsletter";
  }
  #wrapper footer #footer-content #footer2 #socials {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: socials;
    margin-right: auto;
  }
  #wrapper footer #footer-content #footer2 #copy {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: copyright;
    margin-right: auto;
  }
  #wrapper footer #footer-content #footer2 #newsletter {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: newsletter;
    margin-left: auto;
  }
}
/*# sourceMappingURL=footer.css.map */