@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sections {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.footer-font-bold {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    line-height: 1.5;
}

.footer-links {
    text-decoration: none;
}

#wrapper {

    display: flex;
    flex-direction: column;
    
    #content {

        #first-section {
            height: 100px;
            background: lightcoral;
            text-align: center;
        }

    }

    footer {
        margin-top: auto;
        background: #223874;
    }


}

